
.body {
    font-family: "Fantasy", "Times New Roman", serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#boards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#playerboard {

}

#computerboard {

}

.label {
    text-align: center;
}

.btns {
    display: flex;
}

#results {
    display: flex;
    justify-content: space-between;
    gap: 20px;

}

#score {

}

#info {

}

button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

img {
    width: 300px;
    height: auto;
}
