
.body {
    font-family: "Fantasy", "Times New Roman", serif;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1;
}

#board {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#boards {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
}

#playerboard .buttons {
    background-color: purple;
}

#computerboard .comps {
    background-color: rgb(211, 120, 135);
}

.label {
    text-align: center;
}

.btns {
    display: flex;
    gap: 10px;
}

#results {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;

}

#score,
#info {
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    font-size: 36px;
}

h3 {
    margin: 0;
    padding: 5px;
    font-weight: bold;
}

label {
    font-weight: bold;
}

button {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    color: white;
    font-weight: bold;
}

img {
    width: 225px;
    height: auto;
}
